body, html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
    background-color: #fdf5f5;
}
.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), 
                url(files/fondoHM.jpeg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { 
    font-size: 7rem; 
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    font-family: 'FuenteBoda', cursive;
}
h3 { 
    text-align: start;
    color: goldenrod;
}
p {
    font-family: 'TextoBoda';
    line-height: 1.8;
    color: #ffffff;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 15px;
}
button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #c27566;
    border: none;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover { background-color: #E35336; }
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(files/fondo.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}
.music-container {
    padding: 40px;
    color: #333;
}
.overlay-content h1 {
    color: #E35336;
    margin-bottom: 20px;
}
.fade-out {
    opacity: 0;
    pointer-events: none;
}
@font-face {
    font-family: 'FuenteBoda';
    src: url('fonts/Tangerine-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'TextoBoda';
    src: url('fonts/Tinos-Regular.ttf') format('truetype');
}