body, html {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
    background-color: #fdf5f5;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
                url('https://images.unsplash.com/photo-1519741497674-611481863552?q=80&w=2070') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 { font-size: 4rem; margin-bottom: 0; text-shadow: 2px 2px 4px rgba(0,0,0,0.5); }

#countdown {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.music-container {
    padding: 40px;
    color: #333;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #cca9dd;
    border: none;
    color: white;
    border-radius: 20px;
    transition: 0.3s;
}

button:hover { background-color: #834d9e; }
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(files/fondo.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

.overlay-content h1 {
    color: #cca9dd;
    margin-bottom: 20px;
}

/* Clase para ocultar el overlay con JS */
.fade-out {
    opacity: 0;
    pointer-events: none;
}